name: publishify
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  http: ^1.5.0
  fl_chart: ^0.69.0
  flutter_dotenv: ^5.1.0
  shared_preferences: ^2.3.3
  file_picker: ^8.1.4
  http_parser: ^4.1.1
  path: ^1.9.0
  mime: ^2.0.0
  socket_io_client: ^3.0.1  # Socket.io untuk real-time notifikasi
  logger: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  
  # Assets
  assets:
    - assets/images/
    - assets/icons/
    - .env
